src/main/java/com/cbl/filereadwrite/xsd/camt.018.001.03.BANGLADESH.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid XML 2015 Designer Edition (Trial) 13.1.1.5927 (http://www.liquid-technologies.com)-->
<!--Generated by Standards Editor (build:R1.0.41.3) on 2013 Mar 05 13:38:08, ISO 20022 version : 2004-->
<xs:schema xmlns="urn:swift:xsd:camt.018.001.03" elementFormDefault="qualified" targetNamespace="urn:swift:xsd:camt.018.001.03" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Document" type="Document" />
    <xs:simpleType name="ActiveCurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="BusinessDayCriteria1">
        <xs:sequence>
            <xs:element name="SchCrit" type="BusinessDaySearchCriteria1" minOccurs="1" maxOccurs="1" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BusinessDayCriteria2Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="NewCrit" type="BusinessDayCriteria1" />
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BusinessDayQuery1">
        <xs:sequence>
            <xs:element name="QryTp" type="QueryType2Code" minOccurs="0" maxOccurs="1" />
            <xs:element name="Crit" type="BusinessDayCriteria2Choice" minOccurs="0" maxOccurs="1" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BusinessDayQuery1CMA">
        <xs:sequence>
            <xs:element name="Crit" type="BusinessDayCriteria2Choice" minOccurs="1" maxOccurs="1" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BusinessDayReturnCriteria2">
        <xs:sequence>
            <xs:element name="SysDtInd" type="RequestedIndicator" minOccurs="0" maxOccurs="1" />
            <xs:element name="SysStsInd" type="RequestedIndicator" minOccurs="0" maxOccurs="1" />
            <xs:element name="SysCcyInd" type="RequestedIndicator" minOccurs="0" maxOccurs="1" />
            <xs:element name="ClsrPrdInd" type="RequestedIndicator" minOccurs="0" maxOccurs="1" />
            <xs:element name="EvtInd" type="RequestedIndicator" minOccurs="0" maxOccurs="1" />
            <xs:element name="SsnPrdInd" type="RequestedIndicator" minOccurs="0" maxOccurs="1" />
            <xs:element name="EvtTpInd" type="RequestedIndicator" minOccurs="0" maxOccurs="1" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BusinessDaySearchCriteria1">
        <xs:sequence>
            <xs:element name="EvtTp" type="SystemEventType2Choice" minOccurs="1" maxOccurs="1" />
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CountryCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DateTimePeriodChoice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="FrDtTm" type="ISODateTime" />
                <xs:element name="ToDtTm" type="ISODateTime" />
                <xs:element name="DtTmRg" type="DateTimePeriodDetails" />
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DateTimePeriodDetails">
        <xs:sequence>
            <xs:element name="FrDtTm" type="ISODateTime" />
            <xs:element name="ToDtTm" type="ISODateTime" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="GetBizDayInf" type="GetBusinessDayInformationV03CMA" />
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ExternalMarketInfrastructure1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1" />
            <xs:maxLength value="3" />
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="GETBUSINESSDAYPERIOD01">
        <xs:sequence>
            <xs:element name="Id" type="RestrictedFINMax35Text" fixed="GETBUSINESSDAYPERIOD" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RequestType2Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Prtry" type="GenericIdentification1" />
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CAMT018MessageHeader2CMA">
        <xs:sequence>
            <xs:element name="MsgId" type="RestrictedFINMax16Text" />
            <xs:element name="CreDtTm" type="ISODateTime" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GetBusinessDayInformationV03">
        <xs:sequence>
            <xs:element name="MsgHdr" type="CAMT018MessageHeader2CMA" />
            <xs:element name="BizDayInfQryDef" type="BusinessDayQuery1" minOccurs="0" maxOccurs="1" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GetBusinessDayInformationV03CMA">
        <xs:sequence>
            <xs:element name="MsgHdr" type="CAMT018MessageHeader2CMA" />
            <xs:element name="BizDayInfQryDef" type="BusinessDayQuery1CMA" minOccurs="1" maxOccurs="1" />
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISODate">
        <xs:restriction base="xs:date" />
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:dateTime" />
    </xs:simpleType>
    <xs:complexType name="MarketInfrastructureIdentification1Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="ExternalMarketInfrastructure1Code" />
                <xs:element name="Prtry" type="Max35Text" />
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1" />
            <xs:maxLength value="35" />
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MessageHeader2">
        <xs:sequence>
            <xs:element name="MsgId" type="Max35Text" />
            <xs:element name="CreDtTm" type="ISODateTime" minOccurs="0" maxOccurs="1" />
            <xs:element name="ReqTp" type="RequestType2Choice" minOccurs="0" maxOccurs="1" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GETBUSDAYPERMessageHeader01">
        <xs:sequence>
            <xs:element name="MsgId" type="RestrictedFINMax16Text" />
            <xs:element name="CreDtTm" type="ISODateTime" minOccurs="1" maxOccurs="1" />
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="QueryType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ALLL" />
            <xs:enumeration value="CHNG" />
            <xs:enumeration value="MODF" />
            <xs:enumeration value="DELD" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RequestType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="RT01" />
            <xs:enumeration value="RT02" />
            <xs:enumeration value="RT03" />
            <xs:enumeration value="RT04" />
            <xs:enumeration value="RT05" />
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="GETBUSDAYPERCAMT018RequestType2Choice01">
        <xs:sequence>
            <xs:choice>
                <xs:element name="PmtCtrl" type="RequestType1Code" />
                <xs:element name="Enqry" type="RequestType2Code" />
                <xs:element name="Prtry" type="GenericIdentification1" />
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="RequestType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="RT11" />
            <xs:enumeration value="RT12" />
            <xs:enumeration value="RT13" />
            <xs:enumeration value="RT14" />
            <xs:enumeration value="RT15" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RequestedIndicator">
        <xs:restriction base="xs:boolean" />
    </xs:simpleType>
    <xs:simpleType name="RestrictedFINMax16Text">
        <xs:restriction base="xs:string">
            <xs:pattern value="([^/]+/)+([^/]+)|([^/]*)" />
            <xs:minLength value="1" />
            <xs:maxLength value="16" />
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SystemEventType2Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Prtry" type="GenericIdentification1" />
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="SystemEventType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="LVCO" />
            <xs:enumeration value="LVCC" />
            <xs:enumeration value="LVRT" />
            <xs:enumeration value="EUSU" />
            <xs:enumeration value="STSU" />
            <xs:enumeration value="LWSU" />
            <xs:enumeration value="EUCO" />
            <xs:enumeration value="FIRE" />
            <xs:enumeration value="STDY" />
            <xs:enumeration value="LTNC" />
            <xs:enumeration value="CRCO" />
            <xs:enumeration value="RECC" />
            <xs:enumeration value="LTGC" />
            <xs:enumeration value="LTDC" />
            <xs:enumeration value="CUSC" />
            <xs:enumeration value="IBKC" />
            <xs:enumeration value="SYSC" />
            <xs:enumeration value="SSSC" />
            <xs:enumeration value="REOP" />
            <xs:enumeration value="PCOT" />
            <xs:enumeration value="NPCT" />
            <xs:enumeration value="ESTF" />
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SystemIdentification2Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="MktInfrstrctrId" type="MarketInfrastructureIdentification1Choice" />
                <xs:element name="Ctry" type="CountryCode" />
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="RestrictedFINMax35Text">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,'\+ ]{1,35}" />
            <xs:minLength value="1" />
            <xs:maxLength value="35" />
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
