src/main/java/com/cbl/filereadwrite/xsd/camt_018.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:head.001.001.01" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="AppHdr" type="urn:AppHdrType" xmlns:urn="urn:iso:std:iso:20022:tech:xsd:head.001.001.01"/>
  <xs:complexType name="FinInstnIdType">
    <xs:sequence>
      <xs:element name="BICFI">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="BBHOBDDH"/>
            <xs:enumeration value="CIBLBDDH"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FIIdType">
    <xs:sequence>
      <xs:element type="urn:FinInstnIdType" name="FinInstnId" xmlns:urn="urn:iso:std:iso:20022:tech:xsd:head.001.001.01"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FrType">
    <xs:sequence>
      <xs:element type="urn:FIIdType" name="FIId" xmlns:urn="urn:iso:std:iso:20022:tech:xsd:head.001.001.01"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ToType">
    <xs:sequence>
      <xs:element type="urn:FIIdType" name="FIId" xmlns:urn="urn:iso:std:iso:20022:tech:xsd:head.001.001.01"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AppHdrType">
    <xs:sequence>
      <xs:element type="urn:FrType" name="Fr" xmlns:urn="urn:iso:std:iso:20022:tech:xsd:head.001.001.01"/>
      <xs:element type="urn:ToType" name="To" xmlns:urn="urn:iso:std:iso:20022:tech:xsd:head.001.001.01"/>
      <xs:element type="xs:string" name="BizMsgIdr"/>
      <xs:element type="xs:string" name="MsgDefIdr"/>
      <xs:element type="xs:string" name="BizSvc"/>
      <xs:element type="xs:string" name="CreDt"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>